{% extends 'base.html.twig' %}

{% block content %}
    <div class="recipes-block">
        <div class="row">
            {% for category in categories %}
                <a class="col-6" href="{{ path('recipes_list', {'name': category.name}) }}">
                    <div class="text-center card recipe">
                        {{ category.name }}
                    </div>
                </a>
            {% endfor %}
            <a class="col-6" href="{{ path('recipes_list') }}">
                <div class="text-center card recipe">
                    Alle recepten
                </div>
            </a>
        </div>
    </div>
{% endblock %}
